.myimages{
    
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}
.myimagestwo{
    display:flex;
    justify-content: space-evenly
}
.mycountries{
    
    width: 100vw;
    height: 25vh;
    width:25vw;
}
