.header {
    display: flex;
    
    border-bottom: 2px;
    border-color: black;
    @media(min-width: 800px){
        .ptagslist{
            visibility: hidden
        }
    }
    
    @media(max-width: 800px){
        .ptagslist {
            display:flex;
            justify-content:  space-around;
            width:100vw;
            margin:0;
            height:30%;
            font-size: 10%;
            margin-top: 5vh;
            background-color: transparent;
            padding: 10px;
            list-style: none;
        }
        .headerimg{
            visibility: hidden;
            background-color: transparent;
        }
        .header{
            background-color: transparent;
        }
        .ptags{
            visibility: hidden;
        }
        
    }
    .ptags {
        height: 11vh;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        margin-right: 10vw;
        position: fixed;
        padding-left: 50vw;
        z-index: 2;
        background-color: white
        
    }
    // a{
    //     width:50%;
        
    // }
    .headerimg{
        position: fixed;
        display:flex;
        justify-content: center;
        padding:10px;
        height:8vh;
        width:100px;
        margin-left:15vw;
        z-index: 3;
        background-color: white;
    }
    // img{
    //     position: fixed;
    //     display: flex;
    //     justify-content: center;
    //     padding: 10px;
    //     height: 8vh;
    //     width: 100px;
    //     margin-left: 15vw;
    //     z-index: 3;
    //     background-color: white
    // }
}